.sport-name-wrap {
    height: 50px;
    background: #0d0d0d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    padding: 0 16px;
    position: relative;
    border-bottom: 1px solid rgb(115 115 115 / 10%);
    border-top: 1px solid rgb(115 115 115 / 10%);
    img {
        filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(109deg) brightness(106%) contrast(100%);
        width: 26px;
    }
    span{
        font-size: 14px;
        font-weight: 600;
    }
}