@media screen and (max-width: 1024px) {
    .lamp {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 100vh;
        height: 37vh;
        width: 100vw;
        min-width: 100vw;
        z-index: 0;
    }
}

.lava {
    -webkit-filter: url(#goo);
    filter: url(#goo);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    .liveCasino-header__text {
        top: 40%;
        left: 25%;
    }

    .liveCasino-header__text {
        top: 40%;
        left: 25%;
    }

    .liveCasino-header__text {
        top: 75px;
    }

    .liveCasino-header__text-credo,
    .liveCasino-header__text-name {
        font-style: normal;
        font-weight: 400;
        letter-spacing: .09em;
        text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    }

    .liveCasino-header__text-name {
        font-family: "Lato";
        font-size: 30px;
        line-height: 36px;
    }

    .liveCasino-header__text-name {
        line-height: 36px;
        letter-spacing: .09em;
    }

    .liveCasino-header__text-credo {
        font-family: "Nadeem";
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #fff;
        margin-top: 32px;
    }

    .liveCasino-header__text-credo,
    .liveCasino-header__text-name {
        font-style: normal;
        font-weight: 400;
        letter-spacing: .09em;
        text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    }

    .liveCasino-header__text-credo {
        font-family: "Nadeem";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        letter-spacing: .09em;
        color: #fff;
        text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        margin-top: 32px;
    }

    .blob:first-child,
    .blob:nth-child(2),
    .blob:nth-child(5),
    .blob:nth-child(13),
    .blob:nth-child(14) {
        display: none;
    }
}

.blob:nth-child(2) {
    width: 330px;
    height: 330px;
    right: 5%;
    bottom: -65%;
    -webkit-animation: wobble 5s ease-in-out infinite alternate, blob-two 22s ease-in-out infinite;
    animation: wobble 5s ease-in-out infinite alternate, blob-two 22s ease-in-out infinite;
}

.blob {
    border-radius: 50%;
    background: linear-gradient(90deg, #eeaeca, #d99cce 10%, #de86e9 24%, #c996e9 47%, #a5aee9 68%, #94bbe9);
    position: absolute;
}

.liveCasino-header__text {
    position: absolute;
    top: 105px;
    left: 353px;
    z-index: 2;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #6c23a9, #f8a0ef, #da9ef6, #a7b0ff, #afd2fd);
    background-size: initial;
    background-clip: initial;
    background-size: 200% auto;
    color: #fff;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
    font-size: 45px;
}
.blob2, .blob3 {
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    fill: #eeaeca;
}

.blob2 {
    width: 125px;
    height: 125px;
    animation: wobble 8s ease-in-out infinite alternate, move 30s ease-in-out infinite;
}
svg:not(:root) {
    overflow: hidden;
}
.blob3 {
    width: 93px;
    height: 93px;
    animation: wobble 8s ease-in-out infinite alternate, move2 45s ease-in-out infinite;
}

.live_casino_data {
    position: absolute;
    left: 28%;
    top: -317px;
    font-size: 18px;
}

@media screen and (max-width:1024px) {
    .live_casino_data {
        position: absolute;
        left: 22%;
        top: 22%;
        font-size: 18px;
    }
}

.live_casino_data .liveCasino-header__text-name {
    font-size: 29px;
}

@keyframes textclip {
    to {
        background-position: 200%
    }
}

@media screen and (min-width: 800px) {
    .liveCasino-header__img {
        width: 100%;
    }
    .liveCasino-header{
        height: 30vh;
        position: relative;
    }
    .live_casino{
        position: absolute;
        top: 60%;
        left: 6%;
        width: 40%;
    }
    .live_casino_data .liveCasino-header__text-name {
        font-size: 45px;
    }
}
.mob_img{
    display: none;
  }
  .desk_img{
    display: block;
  }
@media screen and (max-width: 800px) {
  .mob_img{
    display: block;
  }
  .desk_img{
    display: none;
  }
}


