@media screen and (max-width: 1024px) {

    /* .slotsCasino-pop-up__content {
    width: 277px;
    height: 470px;
} */
    .slotsCasino-pop-up__content-img {
        left: 25%;
        top: -70px;
        height: 150px;
    }

    .slotsCasino-pop-up__content-title {
        margin-top: 45px;
    }

    .slotsCasino-pop-up__content-button {
        width: 230px;
    }
}

/* .slotsCasino-pop-up__content {
    position: relative;
    max-width: 752px;
    height: 432px;
    padding: 0 0 20px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    box-shadow: 0 4px 6px rgba(0,0,0,.25), inset -3px 4px 6px rgba(0,0,0,.25);
    border-radius: 30px;
    flex-direction: column;
} */

.slotsCasino-pop-up__content-img {
    position: absolute;
    left: 26%;
    top: -83px;
    border: unset;
}

.slotsCasino-pop-up__content-title {
    display: flex;
    justify-content: center;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #252b37;
    margin-top: 100px;
}

.slotsCasino-pop-up__content-descr {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #007b59;
    margin-top: 11px;
    text-align: center
}

.slotsCasino-pop-up__content-checkout,
.slotsCasino-pop-up__content-welcome {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #252b37;
    text-align: center;
}

.slotsCasino-pop-up__content-welcome {
    margin-top: 14px;
}

.slotsCasino-pop-up__content-checkout {
    text-align: center;
    margin-top: 35px;
    /* width: 414px; */
}

.slotsCasino-pop-up__content-button {
    background: #017b5a;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    width: 256px;
    height: 44px;
    border-radius: 15px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 52px auto 0px;
}

.modal_style .MuiBox-root {
    position: relative;

    width: 320px !important;
    padding: 0 0 20px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .25), inset -3px 4px 6px rgba(0, 0, 0, .25);
    border-radius: 30px;
}

.slotsCasino-pop-up__content-closeButton {
    position: absolute;
    top: -13px;
    right: -13px;
    font-size: 30px !important;
    background: #fff;
    border-radius: 50%;

}