.Slot_game_page_header {
    padding: 30px 10px 0 10px;
    isolation: isolate;
    display: flex;
    align-items: center;
    width: 100%;
    /* height: 576px; */
    align-items: flex-start;
    background-image: linear-gradient(180deg, #008dc4, #00a2d8 60%, #00a2d8 60.02%, #009fd6 80%, #009fd6 80.65%, #00c2e8);
    /* background: url('../../../../public/assets/images/casinoGames/CaisnoNewImg/slotsBackground.png'), linear-gradient(180deg, #008dc4, #00a2d8 60%, #00a2d8 60.02%, #009fd6 80%, #009fd6 80.65%, #00c2e8); */
}

.slotleft {
    display: flex;
    width: 70%;
    align-items: center;
    flex-direction: column-reverse;
}

.slotheaderimg {
    position: absolute;
    width: 100%;
    z-index: -1;
}

@media screen and (max-width:1024px) {
    .slotheaderimg {
        display: none;
        /* position: absolute; */
        /* width: 100%; */
        /* z-index: -1; */
    }

    .Slot_game_page_header {
        padding: 30px 10px 0 10px;
        isolation: isolate;
        display: flex;
        align-items: center;
        width: 100%;
        /* height: 576px; */
        align-items: flex-start;
        background-image: linear-gradient(180deg, #008dc4, #00a2d8 60%, #00a2d8 60.02%, #009fd6 80%, #009fd6 80.65%, #00c2e8);
        /* background: url(../../../../public/assets/images/casinoGames/CaisnoNewImg/slotsBackground.png), linear-gradient(180deg, #008dc4, #00a2d8 60%, #00a2d8 60.02%, #009fd6 80%, #009fd6 80.65%, #00c2e8); */
        flex-direction: column-reverse;
    }

    .formmmmm {
        display: none;
    }

    .Slots-header__text-name {
        display: none;
    }

    .Slots-header__text-name_mobuile {
        font-family: "Peralta";
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: .09em;
        color: #fff;
        text-shadow: 0 10px 4px rgba(0, 0, 0, .25);
        position: absolute;
        left: 6px;
        width: 43%;
        top: 178px;

    }

    .slotright {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100% !important;
        overflow: hidden;
    }

    .sport_button {
        cursor: pointer;
        outline: none;
        border: none;
        padding: 10px 14px;
        margin: 0 5px 16px;
        background-color: #ffffff9e;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        border-radius: 40px;
        color: #047ea6;
        text-transform: uppercase;
        height: 40px;
        width: 163px !important;
        font-size: 15px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .slotleft {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
    }

    ._posabs {
        width: 85%;
        margin-left: auto;
        margin-right: -4rem;
        margin-top: -2rem;
    }


}

/* .buttonparent {
    position: absolute;
    top: 30px;
    left: 30px;
} */

/* ._posabs {
    position: absolute;
    top: 30px;

} */

.buttonholder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: 880px;
}

.slotright {
    width: 30%;
}


/* slotsBackground */

/* .form {
    position: absolute;
    top: 30px;
} */

.formcontrol {
    min-width: 300px !important;
    border: 1px solid #fff;
    background: hsla(0, 0%, 100%, .2);
    border-radius: 30px;
}

.Slots-header__text-name_mobuile {
    display: none;
}

._input {
    width: 100%;
    padding: 4px 14px !important;
}

._input input {
    overflow: hidden;
    padding: 8px;
}

.form .formcontrol fieldset {
    border: 1px solid #ffffff;
    border-radius: 30px;
}

._input input::placeholder {
    font-size: 18px !important;
    color: #ffffff !important;
    opacity: 1;
}

.sport_button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px 14px;
    margin: 0 5px 16px;
    background-color: #ffffff9e;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    border-radius: 40px;
    color: #047ea6;
    text-transform: uppercase;
    height: 40px;
    width: 200px;
    font-size: 15px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}



.Slots-header__text-name {
    font-family: "Peralta";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 65px;
    letter-spacing: .09em;
    text-align: center;
    color: #fff;
    text-shadow: 0 10px 4px rgba(0, 0, 0, .25);
}