.betSlipDesktop__topFilters {
    display: flex;
    justify-content: start;
    padding: 10px 6px 20px;
    color: #000;
    background-color: #fff;
    height: 41px;
}

.betSlipDesktop__topFilters-item {
    display: flex;
    margin-right: 6px;
    align-items: center;
    cursor: pointer;

    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    gap: 4px;

}

.betSlipDesktop .betSlipDesktop__topFilters-item-check {
    width: 12px;
    height: 12px;
    background: hsla(0, 0%, 100%, .01);
    border: 1px solid #ddd;
    box-sizing: border-box;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .25);
    border-radius: 3px;
    margin-right: 6px;
}

.betSlipDesktop__topFilters-item-title {

    font-size: 12px;

}