.BetPlacing__wrapper {
    width: 100%;
    display: flex;
    height: 280px;
    align-items: flex-start;
    justify-content: center;
}

.BetPlacing__wrapper__InnerWrapper {
    background-color: white;
    width: 99%;
    height: 269px;
    margin-top: 2px;
    padding: 4px;
}

.BetPlacing_Upper_Head_Odds {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 61px;
}

.BetPlacing_Upper_Head_Odds_LeftSide {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.BetPlacing_Upper_Head_Odds_LeftSide_Uper {
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 8px;
    font-size: 11px;
}

.BetPlacing_Upper_Head_Odds_LeftSide_Lower {
    color: #1f8067;
    height: 55%;
    font-size: 15px;
    font-weight: 600;

}


.BetPlacing_Upper_Head_Odds_RightSide {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.BetPlacing_Upper_Head_Odds_RightSide_Upper {
    height: 45%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0px 0px 0px 10px;


}

.BetPlacing_Upper_Head_Odds_RightSide_Lower {
    height: 55%;
    padding: 7px;
}

.BetPlacing_Upper_Head_Odds_RightSide_Lower::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1f8067;
    opacity: 0.5;
    /* Firefox */
}

.BetPlacing_Upper_Head_Stack {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0px;
}

.Stack_Button_forBetting {
    background-color: #1f8067;
    width: 31%;
    padding: 0px 21px;
    height: 28px;
    border-radius: 4px;
    color: white;
    border: unset;
}

.BetPlacing_Upper_Head_Cancel_Done_Login {
    height: 45px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 4px;
}

.BetPlacing_Upper_Head_Cancel_Done_Login_btnss {
    width: 49%;
    height: 45px;
    background-color: white;

}

.btn-cancel {
    color: #777777;
    border: 1px solid;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
}

.btn-login {
    background-color: #f4d820;
    border: unset;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}