.side_image{
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.cricket{
    background: #8C1000 !important;
    .MuiListItemText-primary{
        color: #fff !important;
    }
    img{
        height: 20px;
        width:  20px;
        filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(109deg) brightness(106%) contrast(100%);
    }
}

.football{
    background: #000000 !important;
    .MuiListItemText-primary{
        color: #fff !important;
    }
    img{
        height: 20px;
        width:  20px;
        filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(109deg) brightness(106%) contrast(100%);
    }
}
.tennis{
    background: #75A93C !important;
    .MuiListItemText-primary{
        color: #fff !important;
    }
    img{
        height: 20px;
        width:  20px;
        filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(109deg) brightness(106%) contrast(100%);
    }
}
.tennis{
    background: #75A93C !important;
    .MuiListItemText-primary{
        color: #fff !important;
    }
    img{
        height: 20px;
        width:  20px;
        filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(109deg) brightness(106%) contrast(100%);
    }
}

.basketball{
    background: #CE7F09 !important;
    .MuiListItemText-primary{
        color: #fff !important;
    }
    img{
        height: 20px;
        width:  20px;
        filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(109deg) brightness(106%) contrast(100%);
    }
}
.golf{
    background: #178805 !important;
    .MuiListItemText-primary{
        color: #fff !important;
    }
    img{
        height: 20px;
        width:  20px;
        filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(109deg) brightness(106%) contrast(100%);
    }
}
.horseracing{
    background: #854D46 !important;
    .MuiListItemText-primary{
        color: #fff !important;
    }
    img{
        height: 20px;
        width:  20px;
        filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(109deg) brightness(106%) contrast(100%);
    }
}
.greyhoundracing{
    background: #215867 !important;
    .MuiListItemText-primary{
        color: #fff !important;
    }
    img{
        height: 20px;
        width:  20px;
        filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(109deg) brightness(106%) contrast(100%);
    }
}
.esports{
    background: #71388C !important;
    .MuiListItemText-primary{
        color: #fff !important;
    }
    img{
        height: 20px;
        width:  20px;
        filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(109deg) brightness(106%) contrast(100%);
    }
}
.politics{
    background: #3750ff !important;
    .MuiListItemText-primary{
        color: #fff !important;
    }
    img{
        height: 20px;
        width:  20px;
        filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(109deg) brightness(106%) contrast(100%);
    }
}


.group-name{
    &:hover{
        transform: scale(1.1);
    transform-origin: center center;
    box-shadow: inset 0 1px 0 rgba(73, 87, 105, 0.1), inset 0 -1px 0 rgba(73, 87, 105, 0.1);
    transition: transform ease 0.1s;
    background: #f5f5f5;
    }
}




.sport-type-child{
    padding-left: 0;
    li {
        padding-left: 2px;
        padding-right: 2px;
        margin-top: 2px;
        .group-name {
            width: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
        }
    }
}
.championship-type {
    &:hover{
        transform: scale(1);
        transform-origin: center center;
        box-shadow: inset 0 1px 0 rgba(73, 87, 105, 0.1), inset 0 -1px 0 rgba(73, 87, 105, 0.1);
        transition: transform ease 0.1s;
        background: #f5f5f5;
    }
    .name{
    // background: rgba(17, 17, 17, 0.07);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #3C3C3C;
    padding: 10px 5px 10px 7px;
    min-height: 36px;
    border-left: 2px solid white;

}}

.championship-type.active .name {
    background: rgba(140, 16, 0, 0.07);
    border-left-color: #8C1000;
    border-left: 2px solid black;

}

ul.championship-type-child {
    padding-left: 4px;
    .event-name {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 16px;
        min-height: 30px;
        font-size: 12px;
        background: white;
        color: #3C3C3C;
        font-weight: 400;
        box-sizing: border-box;
        cursor: pointer;
        user-select: none;
        padding: 7px 8px 7px 16px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 7px;
            top: 0;
            left: 0;
            height: 50%;
            border-left: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8;
            border-radius: 0 0 0 40px;
        }
    }
}

