.maindiv_for_accountstatment {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    ;
}

.mindiv_for_accountStatment_name {
    padding: 15px 0px;
    width: 100%;
    border-bottom: 1px solid #565555;
}

.annount_statement {
    font-size: 23px;
    font-weight: 900;
}

.betHeading_datepickerDesk {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 26px 0px;
}

.mybetsssss {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 44px;
}

.date_piker_from_tooooo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.MyOpenBets__page-menu {
    background-color: #026b4f;
    border-right: 2px solid rgba(0, 0, 0, .25);
    border-bottom: 2px solid rgba(0, 0, 0, .25);
    border-radius: 3px;
    width: 73px;
    height: 29px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.total_PandL {
    color: #2ba033;
}

.accountSatement_Desk {}

.accountSatement_Desk_tr_heDER_Main {
    padding: 14px 10px;
    width: 196px;
    background-color: #ddd;
}

.accountSatement_Desk_tr_heDER {
    padding: 14px 10px;
    width: 196px;
}

.startDateNew {
    border-radius: unset;
    padding: 4px 4px 4px;
}

.total_amount_amount_pnl {
    font-size: 15px;
    font-weight: bolder;
}

.total_amount_amount {
    padding: 14px 0px;
}

.OpenBetsTable__table-header_datataAccountStatement {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    height: 33px;
    align-items: center;
}

.OpenBetsTable__table-headerPnl {
    background-color: #ddd;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    height: 33px;
    align-items: center;
}

.OpenBetsTable__table-header li {
    color: #0f2327;
    padding-left: 10px;
    font-weight: 600;
    font-size: 12px;
}

.OpenBetsTable {
    width: 100%;
}