@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "apollo";
  src: url("./assets/fonts/apollo/apollo-font.woff") format("woff");
}

.font_searchs {
  width: 20px;
  height: 20.5px;
  margin-top: 2px;
}

::placeholder {
  color: #9b9b9b !important;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  color: #9b9b9b;
}

html {
  font-family: Lato, Avenir, Verdana, Nunito;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #000;
  letter-spacing: 0;
  box-sizing: border-box;
  background: url("./img/backimg.png") no-repeat 0 -300px;
  overflow-y: auto;

  background-size: cover;
  height: 100%;
  @media screen and (max-width:"800px") {
    background-size: inherit;
  }
}

::selection {
  background: #ffc629;
  color: #fff;
  text-shadow: none;
}

.account-item {
  width: 100%;
}

::-webkit-scrollbar{
  width: 0;
}

.-positive{
  color: #2aa033;
}


*, ::after, ::before{
  box-sizing: border-box;
}


.app-casino-main{
  padding: 0px 16px;
}