.ChangePassword_header {
    font-size: 16px;
    padding: 31px 11px 13px 7px;
    font-weight: 800;
}

.change_passsword_form_data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 4px 6px;
}

.change_password_input_field {
    height: 36px;
    width: 100%;
    padding: 0px 13px;
    border: unset;
}

.ChangePassword__button {
    width: 50%;
    text-transform: none;
    background: #f4d820;
    color: #fff;
    border-radius: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1), background-color .3s cubic-bezier(.4, 0, .2, 1), color .3s cubic-bezier(.4, 0, .2, 1);
    height: 36px;
    font-weight: 500;
    margin: 24px 0 auto auto;
    border: unset;
}

@media screen and (min-width:1024px) {
    .main_div_for_change_password {
        width: 25%;
    }

    .change_password_input_field {
        height: 27px;
        width: 100%;
        padding: 0px 13px;
        border: unset;
    }

    .ChangePassword__button {
        width: 47px;
        text-transform: none;
        background: #77a37f;
        color: #000;
        border-radius: 3px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1), background-color .3s cubic-bezier(.4, 0, .2, 1), color .3s cubic-bezier(.4, 0, .2, 1);
        box-shadow: inset -2px -2px 0 #54785b;
        height: 28px;
        font-weight: 700;
        font-size: 12px;
        margin: 0px 0 auto auto;
    }

    .change_password_input_field {
        border-radius: 3px;
        height: 100%;
        border: 2px solid #ddd;
        overflow: visible;
        color: #666;
        font-weight: 600;
        font-size: 12px;
        height: 27px;
    }

    .change_passsword_form_data ::placeholder {
        color: #666;

        opacity: 0.6;
        /* Firefox */
    }
}